@import url('https://fonts.googleapis.com/css2? family= Frank+Ruhl+Libre & family= Roboto:wght@100;300 & display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
#sup{
    height: 38px;
    width: 1024px;
    font-size: 15px;
    background-color: #1CD1B0;
    padding: 11px;
    padding-left: 20px;
}
.title{
    background-color:#00669F ;
    height: 101px;
    width: 1024px;
    font-size: 40px;
    padding: 30px;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 8px 10px -6px black;
    
}
.content{
    height: 729px;
    width: 1024px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    height: 529x;
    width: 300px;
    border-radius: 15px;
    background-color: #F3F3F3;
    box-shadow: 0px 5px 10px -6px black;
}
.text{
    padding: 10px;
    
}
.pcard{
    font-size: 16px;
    padding: 10px;
    position: relative;
    bottom: 45px;
    font-family: 'Roboto', sans-serif;

}
.tcard{
    font-size: 30px;
    text-align: center;
    position: relative;
    bottom: 45px;
    font-family: 'Roboto', sans-serif;

}
button{
    background-color: #00669F;
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    height: 48x;
    width: 128px;
    padding: 16px;
    text-align: center;
    position: relative;
    left: 86px;
    bottom: 15px;
    box-shadow: 0px 3px 10px -6px black;
}
.foot{
    background-color:#00669F ;
    height: 38px;
    width: 1024px;
    font-size: 15px;
    color: white;
    padding: 11px;
    padding-left: 20px;
}

.imgfond{
    height: 194x;
    width: 300px;
}
.imgperfil{
    border-radius: 100%;
    position: relative;
    left: 89px;
    bottom: 60px;
    box-shadow:0px 3px 10px 1px black;
}